<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Formulaire d'ajout d'usager 		<small style="color:red">*</small>Champs Requis</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form">
			    			<div class="col-md-6">
				    			<div class="row">
				    				<div class="col-xs-6 col-sm-6 col-md-6">
				    					<div class="form-group">
				                			<input type="text" name="first_name" id="first_name" data-memberaccount="1" class="form-control input-sm" placeholder="Pr&eacute;nom">
				    					</div>
				    				</div>
				    				<div class="col-xs-6 col-sm-6 col-md-6">
				    					<div class="form-group">
				    						<input type="text" name="last_name" id="last_name" data-memberaccount="1" class="form-control input-sm" placeholder="Nom">
				    					</div>
				    				</div>
				    			</div>
	
				    			<div class="form-group"><small style="color:red">*</small>
				    				<input type="email" name="email" id="email" data-memberaccount="1" class="form-control input-sm" placeholder="Courriel">
				    			</div>
	
				    			<div class="row">
				    				<div class="col-xs-6 col-sm-6 col-md-6">
				    					<div class="form-group">
				    						<input type="text" name="phone" id="phone" data-memberaccount="1" class="form-control input-sm" placeholder="Telephone">
				    					</div>
				    				</div>
				    				<div class="col-xs-6 col-sm-6 col-md-6">
				    					Organization:
				    					<div id="organization_holder" class="form-group">
					    					
				    					</div>
				    				</div>
				    			</div>
			    			</div>
			    			<div class="col-md-6">
			    				<div class="row">
				    				<div class="form-group"><small style="color:red">*</small>
					    				<input type="text" name="usr" id="usr" class="form-control input-sm" placeholder="Nom d'utilisateur">
					    			</div>
				    			</div>
				    			<div class="row">
				    				<div class="form-group"><small style="color:red">*</small>
					    				<input type="password" name="pwd" id="pwd" class="form-control input-sm" placeholder="Mot de passe">
					    			</div>
				    			</div>
				    			<div class="row">
				    				<div class="form-group"><small style="color:red">*</small>
					    				<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirmer le mot de passe">
					    			</div>
				    			</div>
	
			    			</div>
			    			<button type="button" id="addSubjectButton" value="Soumettre" class="btn btn-info btn-block">Ajouter l'usager</button>
			    			<button type="button" id="updateSubjectButton" value="MAJ" class="btn btn-info btn-block">modifier l'usager</button>
			    		</form>
			    
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>