<form id="weekForm" class="form-horizontal" role="form">

     <div class="form-group">
	 
		   <div class="col-sm-10"><h4>{{writeMonth month_id}}  -<span class="formTitleHolder"></span></h4></div>

		   <div class="col-sm-2">
		   		<button  class="btn btn-success  btn-xs addIncomeForWeekBtn" type="button">
		   			<span class="glyphicon glyphicon-plus"></span>
		   			<span style="    margin: 5px;    font-weight: 600;">REVENUE</span>
		   		</button>
		   		
		   	</div>
     </div>
     <div class="form-group">
	     <label class="control-label col-sm-1" >De:</label>
	     <div class="col-sm-4">
	       <div data-dateValue='{{formatDate date}}' data-attribute='date_start' class='input-group kuaminikaDateComponent '>
                <input data-property="date" type='text'  name="date" value='{{formatDate date_start}}' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
	     </div>
	      <label class="control-label col-sm-1" f>&Aacute;:</label>
	     <div class="col-sm-4">
	      <div data-dateValue='{{formatDate date}}' data-attribute='date_end' class='input-group kuaminikaDateComponent '>
                <input data-property="date" type='text'  name="date" value='{{formatDate date_end}}' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
	     </div>
	     <div class="col-sm-2">
	        <a  class="btn btn-success addSubjectButton" ><span class="glyphicon glyphicon-plus"></span></a>
	        <a  style="display: none " class="btn btn-primary updateSubjectButton btn-xs" ><span class="glyphicon glyphicon-save"></span></a>
	        <a  style="display: none "  class="btn btn-danger  deleteSubjectButton btn-xs"><span class="glyphicon glyphicon-remove "></span></a>
	      </div>
     </div>
   
     
</form>
