


<ul class="nav nav-tabs" id="formMenu">
  <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-plus"></span> Add Expense</a></li>
  <li role="presentation" style="display: none"><a href="#"><span class="glyphicon glyphicon-edit"></span>Modift Expense</a></li>
</ul>
<form id="expenseForm" class="form-horizontal" role="form">

     <div class="form-group">
	     <label class="control-label col-sm-3" for="expense_date">date:</label>
	     <div class="col-sm-9">
	       	<div data-dateValue='{{formatDate date}}'  class='input-group date '>
                <input data-property="date" type='text'  name="date" value='{{formatDate date}}' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
	     </div>
     </div>
     <div class="form-group">
	     <label class="control-label col-sm-3" for="expense_car">car:</label>
	     <div id="expenseForm_car_selector_holder" class="col-sm-9">
	      
	     </div>
     </div>
     <div class="form-group">
	     <label class="control-label col-sm-3" for="expense_merchant">merchant:</label>
	     <div id="expenseForm_merchant_selector_holder" class="col-sm-9">
	       
	     </div>
	 </div>
	 <div class="form-group">
	     <label class="control-label col-sm-3" for="expense_reason">reason:</label>
	     <div class="col-sm-9">
	       <input type="text" class="form-control" id="expense_reason" data-property="reason" name="reason" value='{{reason}}'  placeholder="reason">
	     </div>
     </div>
     <div class="form-group">
	     <label class="control-label col-sm-3" for="expense_subtotal">sub total:</label>
	     <div class="col-sm-9">
	       <input type="text" class="form-control" id="expense_subtotal" data-property="subTotal" name="subTotal" data-isnumeric="true" value='{{subTotal}}'  placeholder="sub total">
	     </div>
     </div>
     <div class="form-group">        
      <div class="col-sm-offset-10 col-sm-2">
        <a id="addSubjectButton"  class="btn btn-success" ><span class="glyphicon glyphicon-plus"></span></a>
        <a id="updateSubjectButton" style="display: none" class="btn btn-primary" ><span class="glyphicon glyphicon-save"></span></a>
      </div>
    </div>
</form>