<table class="table table-striped table-bordered table-hover" id="expenseTable">
    <thead>
        <tr>
            <th style="width:13%">date</th>
            <th style="width:12%">car</th>
            <th style="width:15%">Merchant</th>
            <th style="width:13%">Reason</th>
            <th style="width:10%">Subtotal</th>
            <th class="">TPS</th>
            <th class="">TVQ</th>
            <th class="">total</th>
        </tr>
    </thead>
    <tbody>
    	{{#list}}
        <tr id="{{id}}" class="odd gradeX">
            <td>
            {{formatDate date}}
            </td>
            <td>
            {{car.name}}
            </td>
             <td>
            	{{merchant.name}}
            	
            </td>
            <td>{{reason}}</td>
            <td>{{writeAsMoney subTotal}}</td>
            <td>{{writeAsMoney (calculateTps subTotal)}}</td>
            <td>{{writeAsMoney (calculateTvq subTotal)}}</td>
            <td>{{writeAsMoney (calculateTaxInc subTotal)}}</td>
            <td class="smallCol"><a id="udpate_{{id}}" class="btn btn-primary btn-xs  updateSubjectBtn"><span class="glyphicon glyphicon-edit"></span></a></td>
            <td class="smallCol"><a class="btn btn-danger btn-xs  deleteSubjectBtn"><span class="glyphicon glyphicon-remove"></span></a></td>
   
        </tr>
        {{/list}}
    </tbody>
    <tfoot>
    <tr>
    	<th colspan="4"></th> 
       <!-- <th></th> 
        <th></th>-->
        <th>{{writeAsMoney (calculateTotal list)}}</th> 
        <th>{{writeAsMoney (calculateTps (calculateTotal list))}}</th> 
        <th>{{writeAsMoney (calculateTvq (calculateTotal list))}}</th> 
        <th>{{writeAsMoney (calculateTaxInc (calculateTotal list))}}</th>
       
    </tr>
  </tfoot>
</table>

	