{{#list}}

    <nav class="nav-sidebar">
		<ul style="margin-left: 7px;font-size: 24px" class="nav tabs weeksInMonth">{{writeMonth month_id}}  		<a class="btn btn-success btn-xs loadAddWeekBtn pull-right"  data-month_id="{{month_id}}"><span class="glyphicon glyphicon-plus "></span></a>
		 {{#weeks}}
          <li id="week{{id}}" data-id={{id}} >
          	<a href="#tab2" data-toggle="tab" style="font-size: 15px">{{formatDateInc date_start}} to {{formatDateInc date_end}}</a> 
         
          </li>
         {{/weeks}}
		</ul>
	</nav>
{{/list}}